@mixin magic-height($percentage, $pixels) {
  height: -moz-calc($percentage - $pixels);
  height: -webkit-calc($percentage - $pixels);
  height: -o-calc($percentage- $pixels);
  height: calc($percentage - $pixels);
}

////////////////////////////////

html, body {
  height: 100%;
  min-height: 100% !important;
}

div#tabs-container {
  padding: 15px;
}

.editortoolbar {
  margin-top: 15px;
  margin-bottom: -5px;
  padding-left: 17.5px;
}

.entry-markdown,
.entry-markdown-replay {
  margin-top: -18px;
}

.CodeMirror pre.CodeMirror-placeholder {
  color: #d0d0d0;
}

/*  Everything Timeslider
 */

#replay-controls-container {
  margin-top: -13px;
  margin-bottom: 31px;
  display: none;
  height: 70px;
}

#replay-controls-container > .row {
  padding: 15px;
  margin-bottom: -17px;
}

#replay-buttons-container {
  float: left;
  width: 69px;
}

#replay-slider-container {
  float: left;
  width: calc(100% - 69px);
}

#replaySlider .slider-selection {
  background: #BABABA;
}

#replaySlider {
  width: 100%;
  margin-bottom: -10px;
  margin-top: 30px;
}

/*  Everything Timestamps
 */

#timestamps-container {
  width: 92%;
  text-align: right;
  position: absolute;
  margin-top: 40px;
}

.timestamp {
  color: #ababab;
  padding-right: 20px;
  color: #ababab;
  filter: inherit;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
  cursor: default;
}

.timestamp-mine {
  @extend .timestamp;
  border-right: 2.75px solid #57b6ff;
}

.timestamp-other {
  @extend .timestamp;
  border-right: 2.75px solid #57b6ff;
}

.timestamp > p {
  display: inline;
  min-width: 100px;
}

/*  Everything Chat
 */

.affix {
  width: inherit;
}

div#side-container > div[data-spy="affix"] {
  border-left: 1px solid #d0d0d0;
}

div#side-container,
div#side-container .row {
  height: 100%;
}

div#chat-pane {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 65px);
}

div#chat-bubbles {
  height: calc(100% - 27.5px);
  border: 2px solid red;
}

div#chat-input {
  border-top: 1px solid #d0d0d0;
  height: 65px;
  box-shadow: 0 -5px 5px -5px #d0d0d0;
}

div#chat-input > input {
  margin: auto;
  margin-top: 15px;
}

div#typing-notify {
  height: 27.5px;
  width: 100%;
  color: #737373;
  font-size: 13px;
}

div.chat-message {
  font-size: 15px;
  color: white;
  padding: 5px 10px 7.5px 10px;
  word-break: break-word;
}

.bubble-mine,
.bubble-other {
  max-width: 70%;
  display: block;
  position: relative;
  min-height: 2.5%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-top: 10px;
}

.bubble-mine {
  background: #57b6ff;
  float: right;
  clear: both;
}

.bubble-other {
  // background: #ff2d2d;
  float: left;
  clear: both;
}

.bubble-mine:first-child,
.bubble-other:first-child {
  margin-top: 15px;
}

.bubble-mine:last-child,
.bubble-other:last-child {
  margin-bottom: 15px;
}
