
html, body {
  height: 100%;
  min-height: 100% !important;
}

div#jibe-container {
  height: 100%;
}

div#jibe-container > div.container-fluid,
div#jibe-container > div.container-fluid > div.row,
div#jibe-container > div.container-fluid > div.row > div#content-containers {
  height: 100%;
}

div#jibe-container > div.container-fluid > div.row > div#content-containers {
  overflow: hidden;
}

div#toolbar-timeslider-container {
  position: relative;
  z-index: 1000 !important;
  min-height: 65px;
  box-shadow: 0 5px 5px -5px #d0d0d0;
}

div#toolbar-timeslider-container > div#replay-controls-container,
div#toolbar-timeslider-container > div#jibe-controls-container {
  padding: 15px;
}

div#toolbar-timeslider-container > div#replay-controls-container {
  border-bottom: 1px solid #d0d0d0;
  padding-bottom: 25px;
}

div#toolbar-timeslider-container > div#jibe-controls-container {
  border-bottom: 1px solid #d0d0d0;
}

div#editor-preview-container,
div#editor-preview-container.replaying {
  overflow-y: auto;
  margin-left: -15px;
  margin-right: -15px;
}

div#editor-preview-container {
  height: calc(100% - 65px);
}

div#editor-preview-container.replaying {
  height: calc(100% - 143px);
}

div#editor-preview-container > div#markdown {
  margin-top: 22.5px;

}

div#editor-preview-container > div#preview {
  display: none;
}

.entry-markdown, .entry-markdown-replay {
  margin-top: -18px;
}

.CodeMirror pre.CodeMirror-placeholder {
  color: #d0d0d0;
}

/*  Force hides the random scrollbar that would appear in CodeMirror
 */
.CodeMirror-vscrollbar {
  display: none !important;
}

/*Everything Table of contents
*/
h3#toc-header-text{
  text-align:center;
}
div#toc-header{
  margin-left: -15px;
  margin-right: -15px;
  border-radius: 0px;
}
div#toc-container {
  /*border-left: 1px solid #d0d0d0;*/
  z-index:1000;
  margin-top:0px;
  height:95%;
  margin-left: 20px;
  border-bottom-width:0px;
  padding-bottom: 0px;
  margin-bottom:0px;

}
div#toc{
  background-color: #ffffff;
  height: calc(100% - 10px);
  margin-top:1.5px;
  margin-left:-15px;
  margin-right:-40px;
  margin-bottom:-10px;
  border-radius: 0px;
  padding-left: 33px;
  border-bottom-width:0px;
  overflow-y:auto;
  overflow-x:hidden;
  padding-bottom:0px;

}
div#toc-box{
  height: 100%;
  margin-top:-20px;
}

div.well {
  border: none;
}

a.level{
  border: none;
  border-bottom: 1px solid #d0d0d0;
  border-left: 1px solid #d0d0d0;

  cursor: pointer;
  cursor: hand;
  margin-right:-20px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 0px !important;
}

a.level1{
  color: #000000;
  margin-left: -30px;
  font-size: 30px;
}

a.level2{
  color: #111111;
  margin-left: -20px;
  font-size: 25px;
}

a.level3{
  color: #222222;
  margin-left: -10px;
  font-size: 22.5px;
}

a.level4{
  color: #333333;
  margin-left: 0px;
  font-size: 20px;
}

a.level5{
  color: #444444;
  margin-left: 10px;
  font-size: 18px;
}

a.level6{
  color: #555555;
  margin-left: 20px;
  font-size: 16px;
}

ul.lvl{
  padding: 0px;
}

/*  Everything Timeslider
 */
#replay-controls-container {
  display: none;
  height: 78px;
}

#replay-buttons-container {
  float: left;
  width: 69px;
}

#replay-slider-container {
  margin-top: 1px;
  margin-left: 20px;
  float: left;
  width: calc(100% - 105px);
}

#replaySlider .slider-selection {
  background: #BABABA;
}

#replaySlider {
  width: 100%;
  margin-bottom: -10px;
}

#replaySlider .flagged-versions {
  margin-top: -10px;
  position: absolute;
}

#speed-buttons-container {
  margin-left: -22.5px;
  margin-bottom: 2px;
}
/*  Everything Timestamps
 */
#timestamps-container {
  width: 92%;
  text-align: right;
  position: absolute;
  margin-top: 40px;
}

.timestamp, .timestamp-mine, .timestamp-other {
  color: #ababab;
  padding-right: 20px;
  color: #ababab;
  filter: inherit;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
  cursor: default;
}

.timestamp-mine {
  border-right: 2.75px solid #57b6ff;
}

.timestamp-other {
  border-right: 2.75px solid #57b6ff;
}

.timestamp > p, .timestamp-mine > p, .timestamp-other > p {
  display: inline;
  min-width: 100px;
}

/*  Everything Chat
 */
.affix {
  width: inherit;
}

div#side-container > div[data-spy="affix"] {
  border-left: 1px solid #d0d0d0;
}
div#toc-container > div[data-spy="affix"] {
  border-left: 1px solid #d0d0d0;
}

div#side-container, div#side-container .row {
  height: 100%;
}

div#chat-pane {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 65px);
}

div#chat-bubbles {
  height: calc(100% - 27.5px);
  border: 2px solid red;
}

div#chat-input {
  background-color: #ffffff;
  border-top: 1px solid #d0d0d0;
  height: 65px;
  box-shadow: 0 -5px 5px -5px #d0d0d0;
}

div#chat-input > input {
  margin: auto;
  margin-top: 15px;
}

div#typing-notify {
  height: 27.5px;
  width: 100%;
  color: #737373;
  font-size: 13px;
}

div.chat-message {
  font-size: 15px;
  color: white;
  padding: 5px 10px 7.5px 10px;
  word-break: break-all;
}

.bubble-mine, .bubble-other {
  max-width: 70%;
  display: block;
  position: relative;
  min-height: 2.5%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-top: 10px;
}

.bubble-mine {
  background: #57b6ff;
  float: right;
  clear: both;
}

.bubble-other {
  float: left;
  clear: both;
}

.bubble-mine:first-child, .bubble-other:first-child {
  margin-top: 15px;
}

.bubble-mine:last-child, .bubble-other:last-child {
  margin-bottom: 15px;
}
