
html, body {
    height: 100%;
    min-height: 100% !important;
}

.container {
    width: 100%;
}

.editortoolbar {
    margin-top: 18px;
    margin-bottom: -2.5px;
    padding-left: 17.5px;
}

.editorwrap {
    width: 100%;
    padding-top: 25px;
    padding-left: 10px;
}

#entry-markdown {
    margin-top: -15px;
}

#entry-timestamp .CodeMirror {
    text-align: right;
}

/*
 *  All chat-based styles
 */

div.chat-container {
    height: 97%;
    margin-right: 30px;
}

div.chat-pane {
    height: 88%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

div.chat-input {
    height: 111px;
    width: 100%;
    border-radius: 7.5px;
    background-color: #dfdfdf;
}

div.chat-input > textarea {
    width: 99%;
    resize: none;
    margin: auto;
    margin-top: 8px;
    font-size: 16px;
}

/* Every message 'bubble' gets this */
div.chat-message {
    font-size: 15px;
    /*font-weight: bold;*/
    color: white;
    padding: 5px 10px 7.5px 10px;
}

.bubble-mine,
.bubble-other {
    max-width: 70%;
    display: block;
    position: relative;
    min-height: 2.5%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-top: 10px;
}

.bubble-mine {
    background: #57b6ff;
    margin-right: 10px;
    float: right;
    clear: both;
}

.bubble-other {
    background: #ff2d2d;
    margin-left: 10px;
    float: left;
    clear: both;
}

.bubble-mine:first-child,
.bubble-other:first-child {
    margin-top: 0px;
}

.bubble-mine:last-child,
.bubble-other:last-child {
    margin-bottom: 15px;
}
