div .chat-pane {
  height: 100%;
  width: 250px;
  position: fixed;
  right: 0;
  border-left: 2px solid black;
}

div .chat-input {
  width: 100%;
  position: fixed;
  bottom: 0;

}

input .chat-input {
  width: 100%;
}

/* all messages get this class */
div .chat-message {
  border-bottom: 1px solid black;
  padding: 2px;
  width: 100%;
}

/* These are the messages that the user sends to the group */
div .chat-message-mine {
  background: #CCCCFF;
}
